<!DOCTYPE html>
<html>
	
  <body >
	  <h1 align="center" ><font color="FFFFFF"> Monthly Remitance</font></h1>
    <p>
    This is the Monthly Remittance Transaction Page<br>
    </p>
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1
    <br> Line ..........1<br>
    
   <%= link_to "Ready to GO!", :class => "signup_button round" %>	
  </body>
</html>

