<infobar>
      <table class="infobar" >
	  <tr  >
	    <td>
	      <table>
	         <tr>
		   <td class="infonavi round" padding-bottom >
			   <p align ="center" > Back to Main Menu</p> 
		   </td>
		  </tr>
		</table>
	      </td>
	  </tr>
	  <tr >
	    <td >
	      <table>
	         <tr>
		   <td class="infonavi round">
		     <p > Oregun Four Square Gospel Church<br>
		  		The happy people<br>
		     </p>	
		   </td>
	        </tr>
	      </table>
	      </td>
	  </tr>
	  <tr>
	    <td >
	      <table class="spacing" >
	         <tr>
		    <td class="infonavi round" >
		       <p>
	         	Plot MF-3, Sector Centre C<br>
			Off Oladipo Diya Rd, Karu District<br>
	   		Federal Capital Territory<br>
			Abuja
	      	      </p>	
		    </td>
		 </tr>
		</table>
	      </td>
	  </tr>
  </table>
 </infobar>

