<infobar>
      <table class="infobar" >
      	  <tr  >
	    <td class="infonav round" >
	      <p >
		Back to<br>
		Main Menu <br>
		Main Menu <br>
	      </p>	
	    </td>
	  </tr>
	 <tr >
	    <td class="infonav round" >
	      <p >
		2Back to<br>
		2Main Menu <br>
		2Main Menu <br>
	      </p>	
	    </td>
	 </tr>
	     <td >
		<p >
		    3Back to<br>
		    3Main Menu <br>
		    3Main Menu <br>
		</p>	
	     </td>
	  </tr>
	</table>
 </infobar>

